node_modules/
.idea/
.rap/
.wing/
test/
build/electronzip/
~/
config/
pages/background/.wing
pages/background/bin-debug
pages/background/bin-release
pages/background/wingProperties.json
pages/background/libs