@font-face {
    font-family: 'ruixian';
    src: url('font/ruixian.ttf') format('truetype');
}

.JUI {
    font-family: ruixian;
    font-size: 12px;
    color: #5EFDFF;
    border-radius: 2px;
    border: 1px solid rgba(76, 193, 253, 0.6);
    background: rgba(76, 193, 253, 0.3);
    width: 100%;
}

.JInput {
    padding: 3px 4px 3px 4px;
}

input::-webkit-input-placeholder {
   color: rgba(94, 253, 255, 0.6) !important;
}

.JButton {
    cursor: pointer;
    text-align: center;
    display: flex;
}

.JButton:hover {
    background: rgba(76, 193, 253, 0.6);
}

.JButton:active {
    background: rgba(76, 193, 253, 0.);
}

.JButton:disabled {
    color: rgba(94, 253, 255, 0.4);
    background: rgba(76, 193, 253, 0.1);
}

.JButton:focus {
    outline: none;
}

/*.JSelector{!*文件夹选择器*!*/
/*text-align: center;*/
/*}*/
/*.JSelector:hover{*/
/*background: rgba(76, 193, 253, 0.6);*/
/*}*/