@font-face {
    font-family: 'ruixian';
    src: url('font/ruixian.ttf') format('truetype');
}

@font-face {
    font-family: 'deadstar';
    src: url('font/deadstar.otf') format('truetype');
}

body {
    /*font-family: ruixian;*/
    margin: 0px;
    padding: 0px;
    background-color: #2e2e2e;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 0.75em;
}

.absolute {
    position: absolute;
}

.loading {
    font-family: deadstar;
    font-size: 80px;
}

.left { /*左侧区域*/
    font-family: ruixian;
    /*font-family: Helvetica;*/
    color: #4cc1fd;
    margin: 4px 4px 4px 4px;
    padding-top: 4px;
    width: 150px;
    height: 522px;
    overflow-y: auto;
}

.left .container { /*大栏目容器*/
    margin-bottom: 10px;
}

.left .container .header { /*标题*/
    text-align: center;
    text-shadow: 0 0 5px #4cc1fd;
    padding: 4px 10px 4px 10px;
    border: 1px solid rgba(76, 193, 253, 0.6);
    border-radius: 3px;
    font-style: normal; /*斜体*/
}

.left .container .rapcommand {
    /*不换行*/
    word-break: keep-all;
    white-space: nowrap;

    font-style: italic; /*斜体*/
    margin: 4px 10px 0px 10px;
    color: #5EFDFF;
}

.left .container .rapcommand:hover {
    animation: rapcommandHover 0.3s ease-in-out infinite alternate;
}

.left .container .rapcommand .border {
    background: rgba(76, 193, 253, 0.3);
    border-radius: 2px;
    border: 1px solid rgba(76, 193, 253, 0.8);
}

.left .container .rapcommand .border:hover {
    border-radius: 4px;
    background: rgba(76, 193, 253, 0); /*背景色透明*/
}


.right {
    margin-left: 158px;
    width: 566px;
    height: 530px;
}

.alert {

}

/*宽度打开和关闭的动画*/
@keyframes widthShow {
    0% {
        width: 0px
    }
    100% {
        width: 100%
    }
}

@keyframes widthClose {
    0% {
        width: 100%
    }
    100% {
        width: 0px;
    }
}

@-webkit-keyframes rapcommandHover {
    from {
        box-shadow: 0 0 10px #4cc1fd,
        0 0 5px #4cc1fd,
        0 0 7px #4cc1fd,
        0 0 10px rgba(76, 193, 253, 0.1),
        0 0 15px rgba(76, 193, 253, 0.1),
        0 0 20px rgba(76, 193, 253, 0.1),
        0 0 25px rgba(76, 193, 253, 0.1),
        0 0 38px rgba(76, 193, 253, 0.1);
    }
    to {
        box-shadow: 0 0 5px #4cc1fd,
        0 0 2px #4cc1fd,
        0 0 4px #4cc1fd,
        0 0 5px rgba(76, 193, 253, 0.1),
        0 0 9px rgba(76, 193, 253, 0.1),
        0 0 10px rgba(76, 193, 253, 0.1),
        0 0 12px rgba(76, 193, 253, 0.1),
        0 0 19px rgba(76, 193, 253, 0.1);
    }
}

/*鼠标显示为手型*/
.mousePointer {
    cursor: pointer;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: text;
    -webkit-user-select: text;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: text;
    user-select: text;
}
