@font-face {
 font-family: 'ruixian';
 src: url('font/ruixian.ttf') format('truetype');
}  
@font-face {
 font-family: 'deadstar';
 src: url('font/deadstar.otf') format('truetype');
}  
body{
    /*font-family: ruixian;*/
    margin:0px; padding:0px;
    background-color: #2e2e2e;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    font-style: italic;/*斜体*/
    font-size: 0.75em;
}
.absolute{
    position: absolute;
}
.loading{
   font-family: deadstar; 
   font-size: 80px;
}
.left{
    color: #5EFDFF;
    margin: 4px 4px 4px 4px;
    padding-top: 4px;
    width: 150px;
    height: 522px;
    overflow-y: auto;
}
.left .container{
    margin-bottom: 10px;
}
.left .container .header{
    padding: 4px 10px 4px 10px;
    border: 1px solid rgba(94,253,255,0.30);
    border-radius: 3px;
    font-style: normal;/*斜体*/
}
.left .container .content{
    margin-bottom: 10px;
    padding-left: 10px;
}

.right{
    margin-left: 158px;
    width: 566px;
    height:530px;
}
.alert{
    
}
/* 细边框: */
/*opacity: 0.29;*/
/*border: 1px solid #5EFDFF;*/
/*box-shadow: 0px -2px 4px 4px rgba(1,199,202,0.50), 0px 2px 4px 4px rgba(1,199,202,0.50);*/
/*border-radius: 3px;*/









/*鼠标显示为手型*/
.mousePointer{
    cursor:pointer;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.selectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: text;
    -webkit-user-select: text;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: text;
    user-select: text;
}
