
@font-face {font-family: "iconfont";
  src: url('iconfont.woff?t=1485338156711') format('woff') /* chrome, firefox */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:12px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ellipsis:before { content: "\e8e5"; }

.icon-folder:before { content: "\e604"; }

