@font-face {
 font-family: 'xiangsuRegular';
 src: url('xiangsu.ttf');
 src: local('xiangsu Regular'), 
              local('xiangsu'),
              url('xiangsu.ttf') format('truetype'),
}  
body{
    font: 14px xiangsuRegular;
    word-break: break-all;
}